@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:700);

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #c0cbff;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  /* horizontal aligning of the infoboxes */
  text-align: center;
}

body:hover {
  cursor: default;
}

.weather-infobox {
  /* inline-block elements are treated as text -> horizontal centering */
  display: inline-block;
  box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
  height: 200px;
  margin-top: 10%;
}

.info1,
.info2 {
  float: left;
  height: 200px;
  border: 1px solid white;
}

.info1 {
  background-color: #0f0d28;
  min-width: 237.5px;
  max-width: 425px;
}

.info2 {
  background-color: #5b3916;
  width: 225px;
  border-left: none;
}

.celsius {
  font-size: 67.5px;
  margin-top: 25px;
  margin-bottom: -15px;
}

.place {
  font-size: 30px;
  font-family: 'Old Standard TT', serif;
  letter-spacing: 1px;
  /* horizontal shadow, vertical shadow, blur radius */
  text-shadow: 3px 7px 2px black;
  margin-right: 20px;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info3 {
  height: 160px;
  width: inherit;
}

.weather-symbol {
  font-size: 85px;
}

.info4 {
  background-color: white;
  height: 40px;
  width: inherit;
}

.humidity-symbol,
.windspeed-symbol {
  color: #0f0d28;
  font-size: 25px;
}

.humidity-symbol {
  float: left;
  margin-left: 12.5px;
  margin-top: 8.75px;
}

.windspeed-symbol {
  float: right;
  margin-right: 12.5px;
  margin-top: 7.5px;
}

.humidity-output,
.windspeed-output {
  color: #0f0d28;
  font-size: 18.75px;
  margin-top: 6.25px;
}

.humidity-output {
  float: left;
  margin-left: 7.5px;
}

.windspeed-output {
  float: right;
  margin-right: 7.5px;
}

.info1 > .celsius:hover {
  cursor: pointer;
}

.about {
  color: black;
}


/* mobile version */

@media all and (max-width:510px) {
  .info1,
  .info2 {
    float: none;
  }
  .weather-infobox {
    margin-top: 5px;
    height: 400px;
    width: 225px;
  }
  .info1 {
    min-width: 225px;
    max-width: 225px;
  }
  .info2 {
    border-top: none;
    border: 1px solid white;
    border-top: none;
  }
  .place {
    font-size: 25px !important;
  }
}

@media all and (max-height:400px) {
  .weather-infobox {
    margin-top: 30px;
    margin-bottom: -5px;
  }
}
  @media all and (max-height:300px) {
  .weather-infobox {
    margin-top: 5px;
  }
}
